*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagenProductoso{
    height: 300px;
    width: 300px;
}

.card {
    height: 400px;
    width: 400px;
    background-color:#00a2ff;
    border-radius: 15px;
    text-align: center;
    flex: auto;
    margin: 20px;
}
.carta{
    background-color:#00a2ff;
    border-radius: 15px;
    text-align: center;
    flex: auto;
    margin: 20px;
}
.img-fluid{
    height: 400px;
    width: 400px;
}
.itemDetail{
    margin: 20px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ff9a00 !important;
    color: black;
    border: none;
}
.bg-info{
    background-color: #ff9a00 !important;
    height: 45px;
    text-align: center;
    align-items: center;
}